<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mountain.mytracker.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackerManagerActivity"
            android:label="@string/activity_tracker_manager"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MountainListActivity"
            android:label="@string/activity_mountain_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MountainTrackListActivity"
            android:label="@string/activity_mountain_tracks_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TrackDetailsActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TrackLoggerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MyTrackDetailsActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.mountain.mytracker.gps.GPSLogger"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mountain.mytracker.activity.intent.GPS_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.mountain.mytracker.gps.GeofenceTransitionsIntentService"
            android:exported="false">
        </service>

        <provider
            android:name="com.mountain.mytracker.db.MountainTrackerContentProvider"
            android:authorities="com.mountain.mytracker.activity.provider"
            android:exported="false" >
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>

    </application>

</manifest>
