<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mountain.mytracker.activity"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackerManagerActivity"
            android:label="@string/activity_tracker_manager"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MountainListActivity"
            android:label="@string/activity_mountain_list"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MountainTrackListActivity"
            android:label="@string/activity_mountain_tracks_list"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MapViewActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrackDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrackLoggerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyTrackDetailsActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.mountain.mytracker.gps.GPSLogger"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mountain.mytracker.activity.intent.GPS_SERVICE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.mountain.mytracker.gps.GeofenceTransitionsIntentService"
            android:exported="false"/>

        <provider
            android:name="com.mountain.mytracker.db.MountainTrackerContentProvider"
            android:authorities="com.mountain.mytracker.activity.provider"
            android:exported="false">
        </provider>

        <activity android:name="com.mountain.mytracker.other.SettingsActivity">
        </activity>

        <activity
            android:name=".UserLocationActivity"
            android:label="@string/title_activity_user_location"/>
    </application>

</manifest>